# DZ locations normalizer

Thanks to Alexey Galda (GitHub: @alexgalda) and wingsuitworld.com for providing the raw CSV of drop zone locations and elevations where speeders and wingsuit pilots train and compete.

In [25]:
import pandas as pd

## Get the raw data

In [26]:
RAW_DATA_FILE = './resources/drop-zones-loc-elev-raw.csv'
rawData = pd.read_csv(RAW_DATA_FILE)

## Impute missing data and rename columns to SSScoring conventions

- Some DZ names are missing.  The city/town `name` will be imputed to the `DZ` column in those cases.
- Future revisions may use ISO-2 country codes instead of ISO-3.

In [27]:
rawData.DZ = rawData.DZ.fillna(rawData.name)
data = pd.DataFrame(data = {
    'dropZone': rawData.DZ,
    'lat': rawData.lat,
    'lon': rawData.lon,
    'elevation': rawData.elevation,
    'location': rawData.name,
    'country': rawData.country,
})
data.sort_values(by='dropZone', ascending=True, inplace=True)
data.head(8)

,dropZone,lat,lon,elevation,location,country
39,Aarhus,56.313258,10.6151104,20.0,Aarhus,DEN
61,Abbotsford,49.095333,-122.3131299,6.0,Abbotsford,CAN
160,Adrenalin Skydive,-34.809077,149.726989,653.0,Goulburn,AUS
240,Aero Parachute sport GmbH,51.408333,9.3775,277.0,Calden,GER
174,Aeroclub Menzelinsk,55.720724,53.060472,119.0,Menzelinsk,RUS
196,Aerodrom Borodyanka,50.667000,29.915001,141.0,Borodyanka,UKR
203,Aerodrom Tanay,54.758114,85.112972,213.0,Zhuravlevo,RUS
29,Aerograd Kolomna,55.091244,38.918871,144.0,Kolomna,RUS

## Preserve the normalized data

In [28]:
data.to_csv('./resources/drop-zones-loc-elev.csv', sep=',')
!ls -l ./resources/drop-zones*

-rw-r--r-- 1 jovyan users 13474 Jan 10 19:31 ./resources/drop-zones-loc-elev-raw.csv
-rw-r--r-- 1 jovyan users 15190 Jan 10 19:32 ./resources/drop-zones-loc-elev.csv